<!-- 
<nav role="navigation">
    <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="#"><li>Contact</li></a>
            <a href="#"><li>Moodboard</li></a>
          </ul>
    </div>
</nav> -->

<nav class="flex-container">
    <ul class="logo">
        <li>
            <a href="/">Amit Shaiwale</a>
        </li>
    </ul>
    <div class="hamburger" (click)="hamburgerClicked()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li><a href="#showingProjects">Projects</a></li>
        <li><a href="#contactMe">Contact</a></li>
        <li><a href="#moreAboutMe">More</a></li>
    </ul>
</nav>


<!-- <div class="top-navigation">
    <a href="" class="logo">Amit Shaiwale</a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a href="" class="nav-link"> About </a> 
        </li>
        <li class="nav-item">
            <a href="" class="nav-link"> Moodboard </a> 
        </li>
    </ul>
</div> -->