@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

.container{
    width: 100%;
}

img{
    border-radius: 15px;
}

.card{
    border-radius: 15px;
}

.projectsWeather{
    font-family: 'Montserrat', sans-serif;
    /* background-color: #ffd300; */
    background-image: linear-gradient(to top right, #ffd300, #ffe258);
}

.projectShoppingApp{
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    color: white;
}

section h1{
    /* letter-spacing: 2px; */
    font-size: 50px;
    color: black;
}

.card-body.two {
    color: white;
}

.sectionContent{
    padding: 10px 10px 10px 10px;
}
.projectDescriptionHeader{
    font-family: 'Abel', sans-serif;
    letter-spacing: 3px;
    color: black;
    font-size: 40px;
}
.projectDescriptionHeaderx{
    font-family: 'Abel', sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    color: rgb(110, 109, 109);
}

.projectDescriptionx{
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: rgb(110, 109, 109);
}

.projectDescription{
    font-family: 'Abel', sans-serif;
    letter-spacing: 2px;
    color: black;
    font-size: 30px;;

}

@media screen and (max-width: 800px){
    section h1{
        font-size: 30px;
    }
    .projectDescriptionHeader{
        font-size: 22px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0px;
    }
    .projectDescription {
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0px;
    }
    .projectDescriptionHeaderx{
        font-size: 22px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0px;
    }
    .projectDescriptionx{
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0px;
    }
    .sectionContent{
        padding: 0px 0px 0px 0px;
    }

}