<section class="container projectsWeather card">
    <div class="sectionContent">
        <h1 class="card-body">//WeatherNow</h1>
        <div class="card-title">
            <p class="projectDescriptionHeader card-text"> - Reason why I did this app:</p>
            <p class="projectDescription card-text">
                1 So that I can have weather app on my github, just like everyother developer :P <br>
                2 Wanted to learn API integration in Angular App <br>
                3 Would constantly be adding new features to the app with sole purpose of learning
            </p>
        </div>
    </div>
    <img src="assets/weathernow.jpg" class="card-img-top">
</section>

<section class="container projectShoppingApp card">
    <div class="sectionContentx">
        <h1 class="card-body two">//Shopping App</h1>
        <div class="card-title">
            <p class="projectDescriptionHeaderx card-text"> - Reason why I did this app:</p>
            <p class="projectDescriptionx card-text">
                1 Wanted to learn Angular Material for styling, hence gave it a try<br>
                2 My github lacks some good projects to show-off <br>
                3 Would constantly be adding new features to the app with sole purpose of learning
            </p>
        </div>
    </div>
    <img src="assets/shoppingappweb.jpg" class="card-img-top">
</section>

