@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.mainContent{
    margin: 10px 10px 10px 10px;
    background-color: black;
    color: white;

}


.bio{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 60px;
    padding: 20px 20px 20px 20px;
    /* margin: 10px 10px 10px 10px; */
}

.strike{
    text-decoration: line-through;
}

.highlight{
    color: #F0CF61;
}

.slightHighliht{
    color: rgb(152, 153, 153);
    /* color: #FAAD00; */
}

.slightHighliht:hover{
    color: red;
}

/* .app-project{
    width: 100%;
} */

li{
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.quotes{
    color: red;
    width: 100%;
    padding-left: 3%;
    background-color: rgb(31, 31, 31);
    word-wrap: break-word;
}

.contactMe{
    padding: 20px;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
    text-align: center;
}

.myEmail{
    font-weight: bold;
}

.footerText{
    font-family: 'Abel', sans-serif;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 800px){
    .bio{
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        line-height: 30px;
        padding: 20px 20px 20px 20px;
    }

}