<!-- 
<div class="mainContent">
  <app-navbar></app-navbar>
  <div class="spiderman">Your friendly neighborhood</div>
  <div class="bio">
    😎 My name is Amit, a <span class="highlight">frontEnd</span> developer, from Pune, with
    2.7 years of expereince, currently working at Infosys.
    I have a <span class="highlight">design-centric</span> mind even for the development purpose.
    I love working with Angular. 
    My skills include front-end development with 
    <span class="slightHighliht">HTML, CSS, Angular, Javascript, a little on Express JS</span>.
    I enjoy each aspect, and love building web apps from start to finish.
    Trying to be highly adept at
    building scalable and responsive web / mobile applications.
    I always keep on doin' something new.<br>

  </div>
  <app-projects class="app-project" id="showingProjects"></app-projects>
  <div class="contactMe" id="contactMe">
    Open for discussion about any opportunity!<br>
    <span class="myEmail">amitshaiwale20@gmail.com</span>
  </div>
  <div class="otherLinks" id="moreAboutMe">
    <ul class="links bio">
      <li>
        <a href="https://github.com/amitshaiwale">Github</a>
      </li>
      <li class="highlight">
        |
      </li>
      <li>
        <a href="https://www.linkedin.com/in/amit-shaiwale-675700105/">LinkedIn</a>
      </li>
    </ul>

    </div>
</div>
<div class="container">
  <p class="footerText">[ P.S. : This site is made ground up with love using Angular ]</p>
  <p class="copyright">&#9400; Amit Shaiwale</p>
</div> -->

<div class="mainContent">
    <div class="box imgBox">
      <h6>Amit Shaiwale</h6>
    </div>

    <div class="box bioBox">
      <h1>Your Friendly Neighborhood</h1>
      <div class="hr"></div>
      😎 Hi, my name is Amit, frontEnd developer, from Pune, with
      3 years of expereince, currently working at [not allowed to put name publicly] MNC.
      I have a design-centric mind even for the development purpose.
      I love working with Angular.
      My skills include front-end development with 
      HTML, CSS, Angular, Javascript, a little on Express JS.
      I enjoy each aspect, and love building web apps from start to finish.
      Trying to be highly adept at
      building scalable and responsive web / mobile applications.
      <br>
    </div>

</div>
  <!-- </div> -->



    <!-- <div class="navName">Amit shaiwale</div> -->
  <!-- <div class="body">
    <div class="leftSideImage"> </div>
    <div class="rightSideText">
      <div class="bio">
        <div class="profession">Front-End Developer.</div>
        <p>
          😎 My name is Amit, a frontEnd developer, from Pune, with
          2.10 years of expereince, currently working at Infosys.
          I have a design-centric mind even for the development purpose.
          I love working with Angular. 
          My skills include front-end development with 
          HTML, CSS, Angular, Javascript, a little on Express JS.
          I enjoy each aspect, and love building web apps from start to finish.
          Trying to be highly adept at
          building scalable and responsive web / mobile applications.
          I always keep on doin' something new.<br>
        </p>
        <button class="downloadBtn" title="download my resume"><a href="assets/Amit2020.pdf" download="Amit2020">Download</a></button>
      </div>
    </div>
  </div> -->
