<div class="mainContent">
  <div class="box imgBox">
    <h6>//Amit Shaiwale</h6>
  </div>

  <div class="box bioBox">
    <h1>Your Friendly Developer Neighborhood</h1>
    <div class="hr"></div>
    <p>
     👋 Hi My name is Amit, twenty-something, front end developer from Pune, IN. <br>
     I do a few different things. I create stuff on photoshop, I free time to sketch - on paper.<br><br>

     I enjoy each aspect of building web apps from start to finish. 
     I have been working with one of the prominent organization as a front end developer, 
     my experience here now count more than 3 years.<br><br>

     In parallel universe I read, play games, binge watch series.
    </p>
     <br>
     TL;DR : 
    <br>
    <div class="socials">
      <a href="https://github.com/amitshaiwale" target="_blank">Git</a>
      <a href="https://twitter.com/amit201194" target="_blank">Twitter</a>
      <a href="https://stackblitz.com/@amitshaiwale" target="_blank" >Stackblitz</a>
    </div>
  </div>
  <button class="floatButton">
    <a href="assets/AmitShaiwale_2020.pdf" download="Amit2020">
    <i class="fas fa-download downloadContent"></i>
    
    <img src="../assets/download-solid.svg" alt="download resume" class="downloadResume">
  </a>
  </button>
</div>