
<div class="mainContent">
  <app-navbar></app-navbar>
  <div class="spiderman">Your friendly neighborhood</div>
  <div class="bio">
    😎 Hello, I'm Amit, a <span class="highlight">frontEnd</span> developer, from Pune, with
    2.7 years of expereince, currently working at Infosys.
    I have a <span class="highlight">design-centric</span> mind even for the development purpose.
    I love working with Angular.
    My skills include front-end development with 
    <span class="slightHighliht">HTML, CSS, Angular, Javascript, a little on Express JS</span>.
    I enjoy each aspect, and love building web apps from start to finish.
    Trying to be highly adept at
    building scalable and responsive web / mobile applications.
    I always keep on doin' something new.<br>
  <!-- below line for about page -->
    <!-- <span class="quotes card"> TO MAKE LIVIN' ITSELF AN ART, THAT IS THE GOAL - Henry Miller</span>  -->
  
  </div>
  <app-projects class="app-project" id="showingProjects"></app-projects>
  <div class="contactMe" id="contactMe">
    Open for discussion about any opportunity!<br>
    <span class="myEmail">amitshaiwale20@gmail.com</span>
  </div>
  <div class="otherLinks" id="moreAboutMe">
    <ul class="links bio">
      <li>
        <a href="https://github.com/amitshaiwale">Github</a>
      </li>
      <li class="highlight">
        |
      </li>
      <li>
        <a href="https://www.linkedin.com/in/amit-shaiwale-675700105/">LinkedIn</a>
      </li>
    </ul>

    </div>
</div>
<div class="container">
  <p class="footerText">[ P.S. : This site is made ground up with love using Angular ]</p>
  <p class="copyright">&#9400; Amit Shaiwale</p>
</div>


<!-- --------------------------------------------------------------------------------------- -->
  <!-- <img src="https://img.icons8.com/material-rounded/48/000000/adobe-photoshop.png">
  <img src="https://img.icons8.com/metro/48/000000/adobe-illustrator.png">
  <img src="https://img.icons8.com/material-rounded/48/000000/adobe-xd.png">
  <img src="https://img.icons8.com/ios-glyphs/60/000000/visual-studio.png">
  <img src="https://img.icons8.com/ios-filled/50/000000/atom-editor.png">
  <img src="https://img.icons8.com/ios-glyphs/60/000000/github.png"> -->