@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

.mainContent{
    /* margin: 10px 10px 10px 10px; */
    background-color: black;
    color: white;
}

.navName{
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
    z-index: 1;
}


.body{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.leftSideImage{
    background-image: url("../assets/me.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}

.rightSideText{
    background-color: black;
    background-image: linear-gradient(65deg, #000000, rgb(29, 29, 29));
}

.bio{
    margin-top: 10%;
    margin-left: 10%;
    width: 500px;
    height: 600px;
    background-color: black;
}

.bio > p {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.body > div {
    width: 50%;
}

.profession {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.downloadBtn{
    margin-left: 170px;
    background: none;
    width: 150px;
    height: 50px;
    display: block;
    vertical-align: middle;
    border: 1px solid white;
    border-radius: 5px;
}

.downloadBtn:hover{
    /* opacity: 0.2; */
    transition: ease-in-out 0.3s;
    color: #0BBCD6;
    border: 1px solid #0BBCD6;
}

.downloadBtn > a {
    text-decoration: none;
    color: white;
}

.downloadBtn > a:hover {
    transition: ease-in-out 0.3s;
    color: #0BBCD6;
}


@media screen and (max-width: 800px){

}